.rasm{
    width: 1140px;
    right: 15px;
}
.kae{
    position: relative;
    left: 200px;
}
.row1{
    background-color: #810d81;
}
.btnaa{
    background-color: #810d81;
    color: white;
    position: relative;
    left: 920px;
    bottom: 15px;

}
